# فایل‌هایی که نباید روی گیت‌هاب باشند
worldcup_simulator.py
لینک_گیت_هاب.txt
docs/گزارش_کار.docx

# تنظیمات شخصی
.vscode/
.continue/

# فایل‌های پایتون
__pycache__/
*.pycworldcup_simulator.py
لینک_گیت_هاب.txt
docs/گزارش_کار.docx

# فایل‌های اضافی پایتون
__pycache__/
*.pyc
